.App {
  text-align: center;
  background-color: #88A09E;
  height: 100vh;
}

.App-logo {
  height: 5vmin;
  margin-top: 10px;
  pointer-events: none;
}

.App-header {
  background-color: #131313;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .editor {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.rdw-editor-toolbar {
  justify-content: center;
  
}

.rdw-editor-main {
  min-height: 500px;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
}

.rdw-editor {
  min-height: 500px;
}

.rdw-dropdown-selectedtext {
  border-bottom: 1px solid #131313;
}